.divider {
  position: relative;
  height: 2px;
  background: #333;
  overflow: visible;
  z-index: 10;
  /* hidden on desktop */
  display: none;
}

.circleWrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

@media (max-width: 991px) {
  .divider {
    display: block;
  }
}
